#title {
  text-align: center;
}

#title h1 {
  font-size: 3em;
  display: inline-flex;
  align-items: center;
}

#title img {
  width: 150px;
  margin-right: 0.5em;
  border-radius: 5px;
}

footer {
  visibility: hidden;
}
