devtools
langchain
langchain-community
langchain_openai
openai
tiktoken
chromadb
unstructured
unstructured[docx]
pytest
fastapi
uvicorn
firebase-admin
google-cloud-firestore

# export HNSWLIB_NO_NATIVE=1
